/* sections */ 
body{
    margin:0px;
}

header{
    height:400px;
    padding: 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("assets/home_hero\ image.jpg");
    background-size: 100%;
    background-position: 25% 50%;
    }

nav{
    background-color:#E9C467;
    text-align: center;
    height: 75px;
    vertical-align:middle;
    
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items:center;
    align-content: center;
  }

section{
    margin: 60px 0px 100px 0px;
}

footer {
    background-color:#E9C467;
    text-align: center;
    min-width: 500px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items:center;
    align-content: center;
  }


/*fonts*/ 

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 120px;
    font-weight: 300;
    color: white;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px 20px 0px 0px;
}

h2 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 48px;
    font-weight: 500;
    color:#7C5B04;
    display: block;
    text-align: center;
    margin:0px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight:normal;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight:bold;
    color:#E9C467;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight:200;
    display: block;
}

button{
    border-radius: 20px;
    border: solid 2px #E9C467;
    background-color: #E9C467;
    width: 100%;
    height:28px;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:normal; 
}
button:hover{
    background-color: #7C5B04;
    border:#7C5B04;
    color: white;
    transition: 250ms;
}

ul{
    margin-top: 0px;
    margin-bottom:0px;
    padding-left: 0px;
    align-content: center;
}

li, a{
    display: inline-block;
    align-items: center;
}


/* navigation */

#nav-links{
    grid-column: 2/3;
}

#nav-cart{
    grid-column:3/4;
}

nav button{
    display: inline-block;
    float: right;
    background-color: white;
    width: 120px;
    height:50px;
    margin-right: 50px;
    margin-top:6px;
    cursor:pointer;
}


nav ul{
    display: inline-block;
    width: 800px;
    margin: auto;
}

li a{
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    margin: 5px 40px 5px 40px;
    cursor:pointer;
}

li a:hover{
    color: #7C5B04;
    transition: 250ms;
}

/* CLASS - */ 
.box{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:white;
}

.container {
    position: relative;
}

.text-overlay{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* grid for section - seasonal special */

#seasonal {
    display: grid;
    grid-template-rows: 50px 200px;
    grid-template-columns: 2fr 3fr 3fr 2fr; 
    grid-gap: 20px 20px;

    justify-items: center;
    justify-content: center;
    align-items:stretch;
    align-content: center;
  }
#seasonal #sea_title{
    grid-area: 1 / 2 / 2 / 4 ;
    width:100%;
}

#seasonal #sea_1{
    grid-area: 2 / 2 / 3 / 3 ;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.25)), url(assets/Seasonal_Pumpkin\ Spice.jpg);
    background-size: 100%;
}

#seasonal #sea_2{
    grid-area: 2 / 3 / 3 / 4 ;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.25)), url(assets/Seasonal_pecan.jpg);
    background-size: 100%;
} 

#seasonal h3{
    margin-top: 85px;
}

/* grid for section - product library */

#product_lib{
    display: grid;
    grid-template-rows: 50px 50px 440px 440px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr; 
    grid-gap: 20px 20px;

    justify-items: center;
    justify-content: center;
    align-items:stretch;
    align-content: center;
}

#product_lib h2{
    grid-area: 1/2/2/5;
    width:100%
}

#product_filter{
    grid-area: 2/2/3/5;
    width:100%
}

#product_filter ul{
    text-align: center;
}


#pro_a{
    grid-area: 3/2/4/3;
    width:100%
    outline: solid 2px black;
}

#pro_b{
    grid-area: 3/3/4/4;
    width:100%
    outline: solid 2px black;
}

#pro_c{
    grid-area: 3/4/4/5;
    width:100%
    outline: solid 2px black;
}

#pro_d{
    grid-area: 4/2/5/3;
    width:100%
    outline: solid 2px black;
}

#pro_e{
    grid-area: 4/3/5/4;
    width:100%
    outline: solid 2px black;
}

#pro_f{
    grid-area: 4/4/5/5;
    width:100%
    outline: solid 2px black;
}

.product-block{
    width:240px;
    align-content: center;
}

.product-block h3{
    margin:0px;
    display:inline-block;
}

.product-block h4{
    margin:0px;
    display:inline-block;
    float: right;
}

.product-block p{
    display: block;
    margin: 12px 0px 12px 0 px;
}

.product-block ul{
    text-align: center;
}


.product-block li{
    border-radius: 20px;
    border: solid 2px #E9C467;
    width: 48px;
    height:28px;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:normal; 
}

.product-block li:hover{
    background-color: #E9C467;
    transition: 250ms;
}

.product-block button{
    margin-top: 12px;
}


/*making product images clickable*/
.learn-more:hover{
    opacity: 0.7;
    transition: 250ms;
}


/* The Modal (background) */
.modal-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 40px;/* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255, 255, 255); /* Fallback color */
    background-color: rgba(255, 255, 255, 0.6); /* white w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 30px;
    border: 4px solid #E9C467;
    border-radius: 50px;
    width: 30%;
    min-width: 480px;

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 240px 280px auto;
  }

  #modal-sec1{
      grid-area: 1/1/2/3;
      width: 100%;
  }

  #modal-sec2{
    grid-area: 2/2/3/3;
    width:100%;
  }

  #modal-sec3{
      grid-area:3/1/4/3;
      width:100%
  }

  .modal-content img{
    float: left;
    margin-right: 40px;
    width: 240px; 
    height: 240px; 
    border-radius: 35px;
  }

  .modal-content h2{
      margin-top: 40px;
      text-align: left;
  }
  .modal-content h4{
      font-weight: 800;
  }

  .sm-button{
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    
    background-color: white;
    padding: 1px 10px 1px 10px;
    border-radius: 20px;
    border: solid 2px #E9C467;
    color: #E9C467;
    margin:6px;
}

.sm-button:hover{
    background-color:#E9C467;
    opacity: 0.7;
    color: white;
    transition: 250ms;
}

.hline{
    height:0.1px;
    width:100%;
    border-top: solid 2px #E9C467;
    background-color: rgba(255, 255, 255, 0);
}
.collap-before{
    font-size: 24px;
    color: #E9C467;
    font-weight: 900;
    float: right;
    margin-top: 12px;
}
.star{
    color:#E9C467;
    font-size: 24px;
    margin-left:10px;
}


  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




/* grid for section - contact us */

#home_contact{
    display: grid;
    grid-template-rows: 50px 25px 75px 25px;
    grid-template-columns: 3fr 4fr 3fr; 
    grid-gap: 20px 20px;

    justify-items: center;
    justify-content: center;
    align-items:stretch;
    align-content: center;
}

#home_contact h2{
    grid-area: 1/2/2/3;
}
 
#home_contact h3{
    grid-area: 2/2/3/3;
    margin:0px;
    color: #7C5B04;
}

#home_contact p {
    grid-area: 3/2/4/3;
    margin:0px;
}
#home_contact button{
    grid-area: 4/2/5/3;
    width: 200px;
    margin-top: 16px;
}

/*footer styling*/
#footer-links{
    grid-column: 2/3;
}
