/* sections */ 
body{
    margin:0px;
}

nav{
    background-color:#E9C467;
    text-align: center;
    height: 75px;
    vertical-align:middle;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items:center;
    align-content: center;
  }

section{
    margin: 60px 0px 100px 0px;
}

footer {
    background-color:#E9C467;
    text-align: center;
    min-width: 500px;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items:center;
    align-content: center;
  }


/*fonts*/ 

a{
    text-decoration: none;
}

h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 120px;
    font-weight: 300;
    color: white;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px 20px 0px 0px;
}

h2 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 48px;
    font-weight: 500;
    color:#7C5B04;
    display: block;
    text-align: center;
    margin:0px;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight:normal;
    margin:0px;
}

h4{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight:bold;
    color:#E9C467;
    margin:0px;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight:200;
    display: block;
}


.yellow-but{
    border-radius: 20px;
    border: solid 2px #E9C467;
    background-color: #E9C467;
    width: 100%;
    height:28px;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:normal; 
    cursor: pointer;
}
.yellow-but:hover{
    background-color: #7C5B04;
    border:#7C5B04;
    color: white;
    transition: 250ms;
}


.white-but{
    border-radius: 20px;
    border: solid 2px #E9C467;
    background-color: white;
    color:#E9C467;
    width: 100%;
    height:28px;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:normal; 
    cursor: pointer;
}
.white-but:hover{
    background-color:#E9C467;
    color: white;
    transition: 250ms;
}

ul{
    margin-top: 0px;
    margin-bottom:0px;
    padding-left: 0px;
    align-content: center;
}

li, a{
    display: inline-block;
    align-items: center;
}


/* navigation */

#nav-links{
    grid-column: 2/3;
}

nav ul{
    display: inline-block;
    width: 800px;
    margin: auto;
}

li a{
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    margin: 5px 40px 5px 40px;
}

li a:hover{
    color: #7C5B04;
    transition: 250ms;
}


/* grid for section - your cart */

#cart {
    display: grid;
    grid-template-rows: 30px 10px 110px 10px 110px 10px 75px 50px;
    grid-template-columns: 2fr 5fr 3fr; 
    grid-gap: 20px 20px;

    /* justify-items: center;
    justify-content: center;
    align-items:stretch;
    align-content: center; */
  }

#cart #cont-shop{
    grid-area: 1 / 2 / 2 / 3 ;
    width: 250px;
    align-items: start;
    display: inline-block;
    float: left;
}

#cart #line-1{
    grid-area: 2 / 2 / 3 / 3 ; 
}

#cart #cart-1{
    grid-area: 3 / 2 / 4 / 3 ;
    width:100%;
    height:100%;
}

#cart #line-2{
    grid-area: 4 / 2 / 5 / 3 ; 
}

#cart #cart-2{
    grid-area: 5 / 2 / 6 / 3 ;
    width:100%;
    height:100%;
}

#cart #line-3{
    grid-area: 6 / 2 / 7 / 3 ; 
}

#cart #subtotal{
    grid-area: 7 / 2 / 8 / 3 ;
    width:100%;
}

#cart #checkout {
    grid-area: 8 / 2 / 9 / 3;
    width: 250px;
    justify-self: right;
    text-align: center;
}

.hline{
    height:0.1px;
    width:100%;
    border-top: solid 2px #E9C467;
    background-color: rgba(255, 255, 255, 0);
}

#cart img{
    width:110px;
    height:110px;
    float:left;
    margin-right:20px;
}

#cart .choice{
    font-size: 14px;
    color:#5A5A5A;
    margin-right: 10px;
}

#cart .sm-button{
    font-family:'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    
    background-color: white;
    padding: 1px 10px 1px 10px;
    border-radius: 20px;
    border: solid 2px #E9C467;
    color: #E9C467;
    margin-left: 10px;
    margin-right: 10px;
}

#cart .sm-button:hover{
    background-color:#E9C467;
    color: white;
    transition: 250ms;
}

#cart h4{
    float:right;
    vertical-align: bottom;
    margin-top: -30px;
}

#subtotal h4{
    vertical-align: top;
    font-size: 28px;
    margin-top: -60px;
}

.sym-close{
    font-size: 20px;
    color:#5A5A5A;
    float:right;
    vertical-align: top;
}

.sym-close:hover{
    color:#E9C467;
    transition: 250ms;
}


/* your cart - DRAWING progress bar*/
#cart #progress-bar{
    grid-area: 2 / 3 / 9 / 4;
    justify-self: center;
}

.circle-active, .circle{
    height:15px;
    width:15px;
    border-radius: 15px;
    border: solid 1px #E9C467;
    background-color: #E9C467;
    display: inline-block;
}

.circle{
    height:15px;
    width:15px;
    border-radius: 15px;
    border: solid 1px #E9C467;
    background-color: white;
    display: inline-block;
}

#progress-bar p{
    display:inline-block;
    margin: 0px 10px 30px 10px;
}



/* grid for section - product library */

#product_lib{
    display: grid;
    grid-template-rows: 50px 50px 440px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr; 
    grid-gap: 20px 20px;

    justify-items: center;
    justify-content: center;
    align-items:stretch;
    align-content: center;
}

#product_lib h2{
    grid-area: 1/2/2/5;
    width:100%
}


#pro_a{
    grid-area: 3/2/4/3;
    width:100%
    outline: solid 2px black;
}

#pro_b{
    grid-area: 3/3/4/4;
    width:100%
    outline: solid 2px black;
}

#pro_c{
    grid-area: 3/4/4/5;
    width:100%
    outline: solid 2px black;
}


.product-block{
    width:240px;
    align-content: center;
}

.product-block h3{
    margin:0px;
    display:inline-block;
}

.product-block h4{
    margin:0px;
    display:inline-block;
    float: right;
}

.product-block p{
    display: block;
    margin: 12px 0px 12px 0 px;
}

.product-block ul{
    text-align: center;
}


.product-block li{
    border-radius: 20px;
    border: solid 2px #E9C467;
    width: 48px;
    height:28px;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight:normal; 
}

.product-block li:hover{
    background-color: #E9C467;
    transition: 250ms;
}

.product-block button{
    margin-top: 12px;
}



/* CLASS - */ 
.box{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:white;
}

.container {
    position: relative;
}

.text-overlay{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/*footer styling*/
#footer-links{
    grid-column: 2/3;
}

